/*switch checkbox*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/*hide default checkbox*/
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/*slider*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 4s;
    border-radius: 34px;
}

.slide:before {
    position: absolute;
    content: "";
    color: white;
    display: block;
    transform: transalate 0.4s ease-in-out;
    font-size: 12px;
    bottom: 4px;
    background-color: white;
    transition: 4s;
}

input:checked + .slider:before {
    content: "";
    left: 25%;
    transform: transalateX(26px);
}